#%RAML 1.0
title: User basic Operation HTTP API
version: v1
baseUri: https://usedetails.com/assignment/{version}
protocols: [HTTPS]
mediaType: application/json
description: To insert, update, fetch and delete user data

uses:
  requestschema: userlib.raml

securitySchemes:
  basic:
    description: |
      This API supports Basic Authentication.
    type: Basic Authentication

/assignment:
  /users:
   post:
    body:
      application/json:
        example: userexample.raml
    responses:
      201:
        body:
          application/json:
            example:
              {
                "message": "Success"
              }
      400:
        body:
          application/json:
            example:
              {
                "message" : "Bad Request"
              }
      401:
        body:
          application/json:
            example:
              {
                "message" : "Unauthorized Access"
              }

      404:
        body:
          application/json:
            example:
              {
                "message" : "User not Found"
              }
  /user/{userid}:
    get:
      responses:
        200:
          body:
            application/json:
              type: requestschema.user
              example: !include userexample.raml 
                
        400:
          body:
            application/json:
              example:
                {
                  "message" : "Bad Request"
                }
        401:
          body:
            application/json:
              example:
                {
                  "message" : "Unauthorized Access"
                }

        404:
          body:
            application/json:
              example:
                {
                  "message" : "User not Found"
                }
    
    put:
      body:
        application/json:
          example: userexample.raml
      responses:
        201:
          body:
            application/json:
              example:
                {
                  "message": "updated Successfully"
                }
        400:
          body:
            application/json:
              example:
                {
                  "message" : "Bad Request"
                }
        401:
          body:
            application/json:
              example:
                {
                  "message" : "Unauthorized Access"
                }

        404:
          body:
            application/json:
              example:
                {
                  "message" : "User not Found"
                }        
    delete:
      body:
        application/json:
          example: userexample.raml
      responses:
        201:
          body:
            application/json:
              example:
                {
                  "message": "Delete Succesfully"
                }
        400:
          body:
            application/json:
              example:
                {
                  "message" : "Bad Request"
                }
        401:
          body:
            application/json:
              example:
                {
                  "message" : "Unauthorized Access"
                }

        404:
          body:
            application/json:
              example:
                {
                  "message" : "User not Found"
                }        
            
